* {
    padding: 0%;
}

.header {
    height: 180px;
    padding-top: -20px;
}

.header h2 {
    color: #cf3c4f;
    font-weight: bold;
    text-align: center;
}

.space-between {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0px 10px;
    align-items: center;
}

.avatar {
    display: flex;
    justify-content: center;
    margin-top: -79px;
    margin-bottom: 30px;
}

.item-avatar {
    margin: auto;
    width: 100% !important;
    height: 100% !important;
    max-width: 100px !important;
    max-height: 100px !important;
}

ion-item {
    margin-bottom: 5px;
}

ion-content ion-item ion-label {
    margin-left: 10px;
}

h2 {
    text-align: center;
}